# requirements.txt

# Django Core
django
gunicorn

# REST Framework
djangorestframework

# Database and Environment
psycopg2-binary
dj-database-url
python-dotenv

# Static Files for Vercel
whitenoise

# Image Handling
pillow

# Firebase
firebase-admin

# Google AI
google-generativeai