# backend/requirements.txt (FINAL)
fastapi
uvicorn[standard]
python-dotenv
supabase
postgrest
passlib
argon2-cffi
python-jose[cryptography]
pydantic
PyPDF2
reportlab
python-multipart
groq
requests
gradio_client
PyPDF2
pdfplumber